{% extends 'base_template.html' %}
{% block content %}
{% load static %}

<div class="banner" style="background-image:url({{homeback|background_img}})">
	<div class="banner-overlay">
		<div class="container">
			<div class="row ">
				<div class="col-md-8 mx-auto">
					<div class="row justify-content-between">
						<div class="col-md-5 mb-3">
							<div class="banner-services active-bg"> <img src="{% static 'images/icon/icon-3.png' %}" />
								<h5 class="counter" data-count="{{ service_count }}" >+</h5>
								<h4>Services</h4>
							</div>
						</div>
						<div class="col-md-5 ">
							<div class="banner-services"> <img src="{% static 'images/icon/suppliers.png' %}" />
								<h5 class="counter" data-count="{{ thread_count }}">+</h5>
								<h4>Products</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="banner-slider">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="slick-slider slider-1">
					<div class="red padding-30"> <img src="{% static 'images/icon/g-1.png' %}" alt="" />
						<h4>Deshdasha</h4>
					</div>
					<div class="orange padding-30"> <img src="{% static 'images/icon/g-2.png' %}" alt="" />
						<h4>Gown dresses</h4>
					</div>
					<div class="green padding-30"> <img src="{% static 'images/icon/icon-8.png' %}" alt="" />
						<h4>scarves and gloves</h4>
					</div>
					<div class="paple padding-30"> <img src="{% static 'images/icon/g-3.png' %}" alt="" />
						<h4>casual clothes</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<section>
	<div class="container">
		<div class="heading-title text-center mb-5">
			<h1>
				<div class="left-cricle"></div>
				<div class="right-cricle"></div>
				<span>OUR Services</span>
			</h1>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="slick-slider slider-2">
					{% for servic in services %}
					<a href="{% url 'service:service_page' %}">
					<div class="borderbox">
						<div class="services-box">
							<img src="{{servic.service_image.url}}" alt="" />

						</div>
						<div class="servicestext">
							<h3>{{servic.Tailor_Specialization}}</h3>
						</div>
					</div>
				</a>
					{% endfor %}

				</div>

			</div>
		</div>


	</div>
</section>
<section class="gray">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="counter-box">
					<img src="{% static 'images/icon/icon-2.png' %}" alt="" />
					<div class="counter" data-count="500">0</div>
					<p>Suppliers</p>
				</div>
			</div>

			<div class="col-md-4">
				<div class="counter-box">
					<img src="{% static 'images/icon/icon-5.png' %}" alt="" />
					<div class="counter" data-count="{{ service_count }}"></div>
					<p>Services</p>
				</div>
			</div>

			<div class="col-md-4">
				<div class="counter-box">
					<img src="{% static 'images/icon/icon-6.png' %}" alt="" />
					<div class="counter" data-count="{{ thread_count }}"></div>
					<p>Products</p>
				</div>
			</div>

		</div>
	</div>
</section>

<section class="blue">
	<div class="container">

		<div class="heading-title supplies text-center mb-5">
			<h1>
				<div class="left-cricle"></div>
				<div class="right-cricle"></div>
				<span>OUR Suppliers</span>
			</h1>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="suppliers-slider">
					{% for supplier in services %}
					<a href="{% url 'supplier:detail_page' supplier.pk %}">
					<div class="suppliers-box-slider sub-slider-1">
						<div class="overlay-sup">
							<div class="sup-div mb-4" data-maxlength="10">
								<div class="Name-raza">{{supplier.Supplier_Name}}</div>
							</div>

							<div class="sup-div mb-4" data-maxlength="10">
								<div class="name-sup">Location</div>
								<div class="surname">{{supplier.Business_Country_Location}}</div>
							</div>

							<div class="sup-div mb-4" data-maxlength="10">
								<div class="name-sup">Specialization</div>
								<div class="surname">{{supplier.Tailor_Specialization}}</div>
							</div>

							<div class="sup-div mb-4" data-maxlength="10">
								<div class="name-sup">Experience</div>
								<div class="surname">{{supplier.Experience}}</div>
							</div>
							<div class="sup-div mb-4" data-maxlength="10">
								<div class="name-sup">Multinational Shippping</div>
								<div class="surname">{{supplier.Multinational_Shippping}}</div>
							</div>

							<div class="sup-div mb-4" data-maxlength="10">
								<div class="name-sup">Targeted Customer</div>
								<div class="surname">{{supplier.Targeted_Customer}}</div>
							</div>

							<div class="sup-div mb-4" data-maxlength="10">
								<div class="name-sup">Gender</div>
								<div class="surname">{{supplier.Tailor_Staff_Gender}}</div>
							</div>

						</div>
					</div>
				</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">

		<div class="heading-title text-center mb-4">
			<h1>
				<div class="left-cricle"></div>
				<div class="right-cricle"></div>
				<span>OUR Products</span>
			</h1>
		</div>
		<div class="row">
			<div class="col-md-12">

				<div class="product-slider">
					{% for product in febric %}
					<div class="product-box">
						<a class="kw" href="{% url 'product:product_page' %}"><img src="{{product.Upload_Image.url}}" alt="" /></a>
						<a class="kw" href="{% url 'product:product_page' %}"><h3>{{product.Fabric_Type}}</h3></a>
						<p> {{product.Tailor_Specialization}}</p>
						<div class="text-right">
							<a class="kw" href="{% url 'product:product_page' %}"> {{product.Fabric_Price}}</a>
						</div>
					</div>
					{% endfor %}

					{% for product in thread %}
					<div class="product-box">
						<a class="kw" href="{% url 'product:product_page' %}"><img src="{{product.Thread_Image.url}}" alt="" /></a>
						<a class="kw" href="{% url 'product:product_page' %}"> <h3>{{product.Thread_Type}}</h3></a>
						<p> {{product.Thread_Available_Quantity}}</p>
						<div class="text-right">
							<a class="kw" href="{% url 'product:product_page' %}"> {{product.Thread_Price}}</a>
						</div>
					</div>
					{% endfor %}
				</div>

			</div>
		</div>


		<div class="row mt-3">
			<div class="text-right col-md-11 pr-0">
				<a href="{% url 'product:product_page' %}" class="viewmore">View More...</a>
			</div>
		</div>
	</div>
</section>

<section class="bg-baesh ">
	{% for item in abouts %}
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="logo-s">
					<img src="{{product.about_image.url}}" class="mb-4" alt="" />
					<h2>About BAH'ES</h2>
					<p>{{item.about_disc}}</p>
				</div>

			</div>
		</div>
	</div>
	{% endfor %}
</section>

<section>
	<div class="container">
		<div class="heading-title text-center mb-5">
			<h1>
				<div class="left-cricle"></div>
				<div class="right-cricle"></div>
				<span>How it works</span>
			</h1>
		</div>

		<div class="how-it-work">
			{% for item in How_Work %}
			<div class="work-box">
				<div class="imagebox mb-4">
					<img src="{{item.image_work.url}}" alt="">
				</div>
				<h3>{{item.Title_work}}</h3>
				<p>{{item.discription_work}}</p>
			</div>
			{% endfor %}
		</div>
	</div>
</section>

{% endblock %}