<form method="POST" action="/dashboard/Edit_Product/{{instance.id}}">
    <div class="form-group">
        <label for="" class="bold-font">Country Origin</label>
        <input type="text" class="form-control" id="" placeholder="Rajat">
    </div>

    <div class="form-group">
        <label for="" class="bold-font">Fabric Type</label>
        <select class="form-control" id="">
            <option class="active">select</option>
            <option>Australia</option>
            <option>India</option>
            <option>Australia</option>
        </select>
    </div>

    <div class="form-group">
        <label for="" class="bold-font">Tailor Specialization</label>
        <select class="form-control" id="">
            <option class="active">select</option>
            <option>Australia</option>
            <option>India</option>
            <option>Australia</option>
        </select>
    </div>
    <div class="form-group">
        <label for="" class="bold-font">Fabric Price</label>
        <select class="form-control" id="">
            <option class="active">select</option>
            <option>Australia</option>
            <option>India</option>
            <option>Australia</option>
        </select>
    </div>
    <div class="form-group">
        <label for="" class="bold-font">Fabric Available Quantity</label>
        <select class="form-control" id="">
            <option class="active">select</option>
            <option>Male</option>
            <option>Female</option>

        </select>
    </div>
    <div class="form-group">
        <label for="" class="bold-font">Size Width</label>
        <input type="" class="form-control" id="" placeholder="xxxxxxxxxxxxxxx">
    </div>
    <div class="form-group">
        <label for="" class="bold-font">Fabric Season</label>
        <input type="" class="form-control" id="" placeholder="xxxxxxxxxxxxxxx">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1" class="bold-font">Other Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <label for="" class="bold-font">Can the store ship the product outside the country?</label>
    <div class="form-control checkbox-div">
        <div class="form-check">

            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Yes
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
                No
            </label>
        </div>
    </div>
    <div class="text-right"> <button type="submit" class="btn btn-primary">Submit</button></div>
</form>
