{% extends 'base_template.html' %} {% block content %} {% load static %}

<div class="banner-profile">
  <div class="profile-overlay">
    <div class="container">
      <div class="heading-title supplies text-center">
        <h1>
          <div class="left-cricle"></div>
          <div class="right-cricle"></div>
          <span>Products</span>
        </h1>
      </div>
    </div>
  </div>
</div>
<section class="bg-lightshow">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-3">
        <div class="supliers-left" style="height: auto">
          <img src="{% static 'images/pexels-fox-1.png' %}" style="width: 100%" alt="" />
          <div class="ask-question">
            <a href="#" class="btn btn-primary btn-block"
              ><i class="fa fa-comments-o"></i> Ask me question</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <div>
          <p class="supplier_names">
            Supplier Name : <span style="color: #707070">{{request.user.username}}</span>
          </p>
        </div>
        <div class="supliers-list">
          <h3 class="mb-4">Description</h3>

          <div class="row">
            <div class="col-md-12">
              {% if object.Other_Description %}
              <p>
                {{object.Other_Description}}
              </p>
              {% endif %}
            </div>
          </div>
          {% if object.color %}
          <h3 class="mb-4">Available Colors</h3>

          <div class="row">
            <div class="col-md-2">
              <div class="list-box textlimit">
                <div class="loction-view red height-box">
                  <div class="kwit" data-maxlength="15">
                    
                    <span>{{object.color}}</span>
                    
                  </div>
                </div>
                <p><span>Color</span></p>
              </div>
            </div>
            {% endif %}
          </div>

          <h3 class="other_features-1">Other Features</h3>
          <div class="row">
            <div class="col-md-2">
              <div class="list-box textlimit">
                <div class="loction-view height-box">
                  <div class="kwit-5" data-maxlength="15">
                    {% if object.Country_Origin %}
                    <span> {{object.Country_Origin}}</span>
                    {% endif %}
                  </div>
                </div>
                <p data-maxlength="10"><span>Country Origin</span></p>
              </div>
            </div>

            <div class="col-md-2">
              <div class="list-box textlimit">
                <div class="loction-view height-box">
                  <div class="kwit-5" data-maxlength="15">
                    {% if object.Fabric_Type %}
                    <span>{{object.Fabric_Type}}</span>
                    {% endif %}
                  </div>
                </div>
                <p data-maxlength="15"><span>Type</span></p>
              </div>
            </div>

            <div class="col-md-2">
              <div class="list-box textlimit">
                <div class="loction-view height-box">
                  <div class="kwit-5" data-maxlength="15">
                    {% if object.Fabric_Price %}
                    <span>{{object.Fabric_Price}}</span>
                    {% endif %}
                  </div>
                </div>
                <p data-maxlength="20"><span>Price</span></p>
              </div>
            </div>

            <div class="col-md-2">
              <div class="list-box textlimit">
                <div class="loction-view height-box">
                  <div class="kwit-5" data-maxlength="15">
                    {% if object.Fabric_Available_Quantity %}
                    <span>{{object.Fabric_Available_Quantity}}</span>
                    {% endif %}
                  </div>
                </div>
                <p data-maxlength="20"><span>Quantity</span></p>
              </div>
            </div>

            <div class="col-md-2">
              <div class="list-box textlimit">
                <div class="loction-view height-box">
                  <div class="kwit" data-maxlength="15">
                    {% if object.Size_Width %}
                    <span>{{object.Size_Width}}</span>
                    {% endif %}
                  </div>
                </div>
                <p data-maxlength="20"><span>Size</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="bg-lightshow">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-3">
        <div class="supliers-left" style="height: auto">
          <img src="{% static 'images/pexels-fox-1.png' %}" style="width: 100%" alt="" />
          <div class="ask-question">
            <a href="#" class="btn btn-primary btn-block"
              ><i class="fa fa-comments-o"></i> Ask me question</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <div>
          <p class="supplier_names">
            Supplier Name : <span style="color: #707070">Raza Murad</span>
          </p>
        </div>
        <div class="supliers-list">
          <h3 class="mb-4">Description</h3>

          <div class="row">
            <div class="col-md-12">
              {% if object.Thread_Description %}
              <p>
                {{object.Thread_Description}}
              </p>
              {% endif %}
            </div>
          </div>
          {% if object.color %}
          <h3 class="mb-4">Available Colors</h3>

          <div class="row">
            <div class="col-md-2">
              <div class="list-box textlimit">
                <div class="loction-view red height-box">
                  <div class="kwit" data-maxlength="15">
                    <span>{{object.color}}</span>
                  </div>
                </div>
                <p><span>Color</span></p>
              </div>
            </div>
          </div>
          {% endif %}

          <h3 class="other_features-1">Other Features</h3>
          <div class="row">

            <div class="col-md-2">
              <div class="list-box textlimit">
                <div class="loction-view height-box">
                  <div class="kwit-5" data-maxlength="15">
                    {% if object.Thread_Type %}
                    <span>{{object.Thread_Type}}</span>
                    {% endif %}
                  </div>
                </div>
                <p data-maxlength="15"><span>Type</span></p>
              </div>
            </div>

            <div class="col-md-2">
              <div class="list-box textlimit">
                <div class="loction-view height-box">
                  <div class="kwit-5" data-maxlength="15">
                    {% if object.Thread_Price %}
                    <span>{{object.Thread_Price}}</span>
                    {% endif %}
                  </div>
                </div>
                <p data-maxlength="20"><span>Price</span></p>
              </div>
            </div>

            <div class="col-md-2">
              <div class="list-box textlimit">
                <div class="loction-view height-box">
                  <div class="kwit-5" data-maxlength="15">
                    {% if object.Thread_Available_Quantity %}
                    <span>{{object.Thread_Available_Quantity}}</span>
                    {% endif %}
                  </div>
                </div>
                <p data-maxlength="20"><span>Quantity</span></p>
              </div>
            </div>

            <div class="col-md-2">
              <div class="list-box textlimit">
                <div class="loction-view height-box">
                  <div class="kwit" data-maxlength="15">
                    {% if object.Size_Width %}
                    <span>{{object.Size_Width}}</span>
                    {% endif %}
                  </div>
                </div>
                <p data-maxlength="20"><span>Size</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->


{% endblock %}
